body{
    margin: 0;
    padding: 10px;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    background-image: url(../images/spotify.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #0c090a; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
main{
    width: 50%;
    /* max-width: 800px; */
    height: 100%;
    padding: 0 40px;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.13);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}
main h2{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0;
}
main h3{
    font-size: 1.35rem;
    font-weight: 400;
    margin: 0 0 10px 0;
}
main form{
    margin: 20px 0;
}
.inputText{
    width: 100%;
    height: inherit;
    background-color: transparent;
    box-sizing: border-box;
    border-style: dashed;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 1.125rem;
    padding: 8px 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar.png');
    background-size: cover;
}
/* input[type="date"]::-webkit-datetime-edit-text {
    tex;
} */
.inputText::placeholder{
    font-size: 1.05rem;
}
#formSubmit{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border-style: none;
    font-size: 1.05rem;
}
